*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build/
*.hprof
.cxx/

# Root test & scratch artifacts
/*.png
/*.jpg
/*.apk
/*.dex
/*.zip
/*.sh
/*.xml
